.miElemento {
    background-color: red;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-left: 5px;
}

.pista {
    background-color: gray;
    border-radius: 20px;
    height: 300px;
}

.separacion {
    border: 4px solid white;
    height: 300px;
}
