<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Animejs + Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-card>
      <ion-card-content>
      <div *ngFor="let div of divs">
        <h2>Corredor {{div.corredor}} break: {{div.value}}</h2>
          <div class="miElemento"></div>
          <br>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="animation.play()">Recargar</ion-button>
  </div>
  <br>

  
</ion-content>
